@keyframes background-animation {
  0% {
    background-color: unset;
  }
  100% {
    background-color: $green;
  }
}

@keyframes searcher-animation {
  0% {
    opacity: 0;
    left: 0;
  }

  16% {
    left: calc(132.27% + 10px);
  }

  28% {
    left: calc(86.88% + 10px);
  }

  44% {
    left: calc(104.63% + 10px);
  }

  59% {
    left: calc(98.36% + 10px);
  }

  73% {
    left: calc(100.58% + 10px);
  }

  88% {
    left: calc(99.8% + 10px);
  }

  100% {
    opacity: 1;
    left: calc(100% + 10px);
  }

}