@font-face
{
  font-family: 'Calibri';
  src: url('/res/fonts/Calibri.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: 'Mistral';
  src: url("/res/fonts/MISTRAL.TTF") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');