#mobile-menu {
  width: 0;
  height: calc(100% - 50px);
  position: fixed;
  box-sizing: border-box;
  overflow: hidden;
  @media #{$mobile} {
    border-top: 5px solid $green;
    z-index: 10;
    top: 50px;
    background-color: $darkgray;
  }
  #mobile-search {
    padding: 20px 20px 5px;
    #global-mobile-searcher {
      width: 100%;
      outline: none;
      padding: 10px;
      border: unset;
      border-radius: 5px;
      box-sizing: border-box;
    }
  }
  .link-list {
    display: block;
    list-style-type: none;
    padding: 20px;
    margin: 0;
    .link {
      display: block;
      &:first-of-type {
        margin-top: -20px;
      }
      a {
        color: white;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2em;
        border-bottom: 1px solid $bordergray;
        &:after {
          display: block;
          content:"";
          background-image: url("/res/images/svg/arrow-left-white.svg");
          transform: rotate(180deg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 20px;
          height: 20px;
          color: white;
        }
      }
    }
  }
}